<html>
    <head>
        <title>LVCSR Daemon Dashboard</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta http-equiv="refresh" content="300" />
        <link rel="stylesheet" href="/static/uikit.min.css" />
        <link rel="stylesheet" href="/static/css/all.css" />
        <script src="/static/uikit.min.js"></script>
        <script src="/static/uikit-icons.min.js"></script>
    </head>
    <body class="uk-background-secondary">
        <div class="uk-margin-bottom uk-padding uk-navbar-container" uk-navbar>
            <div class="uk-navbar-left">
                <span uk-tooltip="title: Daemon Dashboard; pos: bottom">
                    <a href="#"><i class="fas fa-flask fa-5x"></i></a>
                </span>
            </div>
            <div class="uk-navbar-right">
                <span
                    class="uk-padding-small"
                    uk-tooltip="title: RQ Dashboard; pos: bottom">
                    <a href="rq"><i class="fas fa-stream fa-3x"></i></a>
                </span>
                <span
                    class="uk-padding-small"
                    uk-tooltip="title: Daemon API; pos: bottom">
                    <a href="api/ui"><i class="fas fa-file-code fa-3x"></i></a>
                </span>
            </div>
        </div>

        <div class="uk-container uk-container-expand">
            <div
                class="uk-margin-bottom uk-border-rounded uk-background-muted uk-padding-small uk-text-center"
                uk-sticky>
                <span class="uk-text-small">Last Updated On</span><br />
                <span class="uk-text-large uk-text-bolder">
                    {{ last_updated.strftime("%d/%m/%Y %H:%M:%S") }}
                </span>
            </div>

            <div
                class="uk-margin-medium-bottom uk-child-width-auto uk-flex-center uk-grid-match uk-grid-medium"
                uk-grid>
                {% for pipeline in pipelines %}
                <div>
                    <div
                        class="uk-border-rounded uk-card uk-card-primary uk-card-body">
                        <div class="uk-card-title">
                            <p class="uk-text-bold">
                                <span class="uk-text-default">Channel</span>
                                <br />
                                <span
                                    class="uk-heading-small uk-text-uppercase">
                                    {{ pipeline.name }}
                                </span>
                            </p>
                        </div>
                        <p class="uk-text-bold">
                            <span class="uk-text-default">Work Stages</span>
                            <br />
                            <span class="uk-text-large uk-text-uppercase">
                                {{ ", ".join(pipeline.work_stages) }}
                            </span>
                        </p>
                        <p class="uk-text-large">
                            <span class="uk-text-bold">Status:</span>
                            {% for worker in pipeline.workers %} {% if worker %}
                            <i class="fas fa-cog fa-spin"></i>
                            {% else %}
                            <i class="fas fa-cog"></i>
                            {% endif %} {% else %}
                            <i class="fas fa-ban"></i>
                            {% endfor %}
                            <br />
                            <span class="uk-text-bold">Number Of Jobs:</span>
                            <span>{{ pipeline.num_jobs }}</span>
                        </p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </body>
</html>
